<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bike">
            <h2><span jhiTranslate="jhipsterappApp.bike.detail.title">Bike</span> {{ bike.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterappApp.bike.model">Model</span></dt>
                <dd>
                    <span>{{ bike.model }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterappApp.bike.serialNo">Serial No</span></dt>
                <dd>
                    <span>{{ bike.serialNo }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterappApp.bike.biker">Biker</span></dt>
                <dd>
                    <div *ngIf="bike.biker">
                        <a [routerLink]="['/biker', bike.biker?.id, 'view']">{{ bike.biker?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/bike', bike.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
