<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="driver">
            <h2><span jhiTranslate="jhipsterappApp.driver.detail.title">Driver</span> {{ driver.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterappApp.driver.name">Name</span></dt>
                <dd>
                    <span>{{ driver.name }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterappApp.driver.lastName">Last Name</span></dt>
                <dd>
                    <span>{{ driver.lastName }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterappApp.driver.mileage">Mileage</span></dt>
                <dd>
                    <span>{{ driver.mileage }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/driver', driver.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
